{% load static %}

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link href="{% static 'ubertravel/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'ubertravel/ownStyles.css' %}" rel="stylesheet">

    <title>TravelBois</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:	white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"  style="color:white"></span>
            </button>
            <a class="navbar-brand" style="color:black" href="#">UBER|tourism</a>

            <div class="collapse navbar-collapse"  style="color:black" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link"  style="color:black" href="#">Lukas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  style="color: black" href="#">Oliver</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  style="color:black" href="#">Joseph</a>
                </li>
              </ul>
            </div>
          </nav>
    </div>

    <div class="container centering">
        <form action="{% url 'ubertravel:choose_city' %}" method="POST">
            {% csrf_token %}
            <div class="form-group centered w-100" align="center">
                {{ form }}
                <button class="btn btn-secondary mt-2" type="submit">Take me there!</button>
                <br>
            </div>
        </form>
    </div>
</body>

<!--JS Stuff-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</html>